<footer class="footer has-background-grey-lighter">
  <div class="container footer-inner has-text-centered">
    <div class="columns is-multiline is-flex-tablet is-flex-mobile">
      <div class="column is-3 is-6-mobile">
        <div class="footer-group">
          <h4>About</h4>
          <ul>
            <li>
              <a>Some Link</a>
            </li>
            <li>
              <a>Some Link</a>
            </li>
            <li>
              <a>Some Link</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="column is-3 is-6-mobile">
        <div class="footer-group">
          <h4>Discover</h4>
          <ul>
            <li>
              <a>Some Link</a>
            </li>
            <li>
              <a>Some Link</a>
            </li>
            <li>
              <a>Some Link</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="column is-3 is-6-mobile">
        <div class="footer-group">
          <h4>Company</h4>
          <ul>
            <li>
              <a>Some Link</a>
            </li>
            <li>
              <a>Some Link</a>
            </li>
            <li>
              <a>Some Link</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="column is-3 is-6-mobile">
        <div class="footer-group">
          <h4>Support</h4>
          <ul>
            <li>
              <a>Some Link</a>
            </li>
            <li>
              <a>Some Link</a>
            </li>
            <li>
              <a>Some Link</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-img" role="presentation">
    <img
      src="https://s3-media0.fl.yelpcdn.com/assets/public/footer_cityscape.yji-573fa19c843556eac5a998fc6d1f80f8.png"
      alt=""
    />
  </div>

  <div class="container copyright">
    <div class="has-text-centered">
      <span>© 2020–2021 SomeCo, Inc. All Rights Reserved.</span>
    </div>
  </div>

  <a href="https://bulma.io">
    <img src="https://bulma.io/images/made-with-bulma--semiblack.png" alt="Made with Bulma" width="128" height="24">
    </a>

</footer>
