<br />
<br />

<section class="hero">
  <div class="hero-body">
    <div class="container has-text-centered">
      <div class="columns is-vcentered">
        <div class="column is-5">
          <figure class="image is-4by3">
            <img
              src="https://picsum.photos/800/600/?random"
              alt="Description"
            />
          </figure>
        </div>
        <div class="column is-6 is-offset-1">
          <h1 class="title is-2">About Bulma</h1>
          <h2 class="subtitle is-4">
            Bulma is a free, open source CSS framework based on Flexbox and used
            by more than 200,000 developers.
          </h2>
          <br />
          <div class="hero-buttons">
            <p class="has-text-centered">
              <button
                class="button is-large is-outlined is-dark"
                routerLink="bulma"
              >
                Learn more
              </button>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<br />
