<section class="bulma">
  <div class="bulma-body">
<div class="container is-fluid has-text-centered">

<br/><br/>

<h1><strong>Bulma Works!</strong></h1>

<br/><br/>

<a href="https://bulma.io">
  <img src="https://bulma.io/images/made-with-bulma--dark.png" alt="Made with Bulma" width="128" height="24">
  </a>

  <a href="https://bulma.io">
    <img src="https://bulma.io/images/made-with-bulma--semiblack.png" alt="Made with Bulma" width="128" height="24">
    </a>

    <a href="https://bulma.io">
      <img src="https://bulma.io/images/made-with-bulma--black.png" alt="Made with Bulma" width="128" height="24">
      </a>

    </div>
  </div>

<app-bulma></app-bulma>
